/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  /* display: block; */
  margin: 0px;
}

.backgroundColor {
  /* background-image: linear-gradient(#1A1A1A 15%,#37007e);
  background-repeat: no-repeat;
  height: 100vh; */

  background-image: linear-gradient(black, 45%, #1c0071);
  background-repeat: space;
  height: 100vh;
  color: skyblue;
  padding: 0px;
  margin: 0px;
  /* border: 0px; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'DM Serif Display', serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'exo 2', sans-serif;
  /* overflow: hidden; */
}

.flexboxClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* align-items: center; */
}

#heading {
  /* justify-self: center; */
  align-self: center;
  padding: 5vh;
  font-size: 10vh;
  /* font-weight: ; */
  /* color: #DA5A50; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: 'Arapey', serif; */
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'tangerine', cursive; */
  /* font-family: 'exo 2', sans-serif; */
}

h1 {
  margin: 0px;
  /* color: #7480FF; */
  color: skyblue;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  top: 9vh;
  position: relative;
  /* background-color: black; */
  background-color: rgb(0, 0, 0, 0.40);
  /* background-image: linear-gradient(black, 45%, rgb(28, 0, 113)); */
  /* background-image: linear-gradient(rgba(33, 1, 132, 0.15), #111111); */
  /* opacity: 35%; */
  height: 55.55vh;
  width: 28.25vw;
  align-items: center;
  /* border-radius: 100px; */
  border-radius: 12.5vh 2.9vh 1.45vh 1.45vh;
  border-radius: 9.5vh 2.9vh 1.45vh 1.45vh;
  /* padding: 0px; */
  border-style: double;
  border-color: antiquewhite;
}

.signUpBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  top: 5vh;
  position: relative;
  /* background-color: black; */
  background-color: rgb(0, 0, 0, 0.40);
  /* background-image: linear-gradient(black, 45%, rgb(28, 0, 113)); */
  /* background-image: linear-gradient(rgba(33, 1, 132, 0.15), #111111); */
  /* opacity: 35%; */
  height: 62.55vh;
  width: 28.25vw;
  align-items: center;
  /* border-radius: 100px; */
  border-radius: 12.5vh 2.9vh 1.45vh 1.45vh;
  border-radius: 9.5vh 2.9vh 1.45vh 1.45vh;
  /* padding: 0px; */
  border-style: double;
  border-color: antiquewhite;
}

h2 {
  font-size: 5.5vh;
  margin: 3vh;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* opacity: 100%; */
  /* color: #7480FF; */
  color: skyblue;
  /* font-family: 'Arapey', serif; */
}

.formStruct {
  /* padding: 3vh; */
  margin: 3vh;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 255, 234, 0.673); */
  padding: 3vh;
  border-radius: 3vh;
  /* opacity: 100%; */
}

.formStructSign {
  /* padding: 3vh; */
  margin: 1vh;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 255, 234, 0.673); */
  padding: 3vh;
  padding-bottom: 0px;
  margin-bottom: 1.5vh;
  border-radius: 3vh;
  /* opacity: 100%; */
}

.parameters {
  /* display: flex; */
  /* flex-flow: row; */
  /* align-items: flex-end; */
  align-self: flex-end;
  /* padding: 0px; */
  /* width: 25vw; */
}

.inpBox {
  width: 15vw;
  background-color: #E6E6E6;
  position: relative;
  bottom: 0.25vh;
  border-radius: 2vh;
  height: 3vh;
  /* margin: 0px; */
  /* align-self: flex-end; */
}

.inp {
  /* background-color: #C5C5C5; */
  /* margin: 0px; */
  /* align-self: flex-start; */
  color: white;
  /* color: #7480FF; */
  color: skyblue;
}

.login {
  width: 8vw;
  height: 5vh;
  margin-top: 1.5vh;
  align-self: center;
  /* background-color: black; */
  background-color: #202020;
  color: white;
  border-radius: 5vh;
  font-size: 2.5vh;
}

.SignUp {
  width: 8vw;
  height: 5vh;
  margin-top: 1.5vh;
  align-self: center;
  background-color: #202020;
  color: white;
  border-radius: 5vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 2.5vh;
}

.linkSignUp {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 2vh;
  color: skyblue;
}

.linkLogin {
  /* color: #7480FF; */
  color: skyblue;
  font-size: 2vh;
  position: relative;
  top: -2vh;
}

.logo {
  height: 10vh;
  /* width: 14.766vh; */
  margin: 2vh;
  position: absolute;
  top: 0.25vh;
  left: 0.25vw;
}

.dobStyle {
  height: 3.5vh;
  width: 15vw;
  border-radius: 1vh;
  text-indent: 2%;
  font-size: large;
}

/* .topPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  position: relative;

} */

.new-class {
  background-color: red;
}